body {    
    margin: 0 ;
    padding: 0;
}
header {
    background-color: #A1C4FD;
    text-align: center;
    padding: 20px;
}
nav {
    background-color: black;
}

nav>ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

nav li {
    padding: 10px;
    color: blanchedalmond;
}
main{
    display: flex;
    flex-direction: row;  
}
main>article {
    padding-left: 10px;
}


.leftArticle{
    background-color:	#DCDCDC;
    flex: 30%;
}
.rightArticle{
    flex: 70%;
}

section>h1 {
   font-size: 30px;
}
section>p{
    display: block;
    text-align:left;

}
section>img{
    padding-bottom: 20px;
}

